/************************************************************************************
Hack selection
************************************************************************************/

.hackSelectionFrame {
  position: relative;
  top: 100%; 
  left: 0; 
  padding: 0;
  width: 100%;
  height: 85%;
  overflow: hidden;
  overflow-y: hidden;
  float: left;
  z-index: -1;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.offset2 {
  top: 10%; 
  z-index: 1;
  overflow: hidden;
}

.hackHeroImage {
  width: 100%;
  height: auto;
  top: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.infoWrapper {
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: $overlayColour;
  opacity: .4;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.hackTitle {
  text-align: center;
  margin: 8% 0 3%;
  position: relative;
  font-size: 12rem;
  color: $textColour;
  font-family: $textFont;
}

.hackUnderline {
  width: 65%;
  height: 3px;
  position: relative;
  margin: 0 auto; 
 
  background: -moz-linear-gradient(left,  rgba(225,108,91,0) 0%, rgba(225,108,91,1) 19%, rgba(225,108,91,1) 50%, rgba(225,108,91,1) 81%, rgba(225,108,91,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(225,108,91,0) 0%,rgba(225,108,91,1) 19%,rgba(225,108,91,1) 50%,rgba(225,108,91,1) 81%,rgba(225,108,91,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(225,108,91,0) 0%,rgba(225,108,91,1) 19%,rgba(225,108,91,1) 50%,rgba(225,108,91,1) 81%,rgba(225,108,91,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e16c5b', endColorstr='#00e16c5b',GradientType=1 ); /* IE6-9 */
}

.hackShortDesc {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 60%;
  position: relative;
  font-size: 5rem;
  color: $textColour;
  font-family: $textFont;
}

.hackTags {
  margin-left: 10%;
  position: relative;
  float: left;
  font-size: 3rem;
  color: black;
}

.hackSupplies {
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 12%;
  position: relative;
  font-size: 5rem;
  color: $textColour;
  font-family: $textFont;
}

.stepNumber {
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 12%;
  position: relative;
  font-size: 5rem;
  color: $textColour;
  font-family: $textFont;
}

.hackInstructions {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 12%;
  position: relative;
  font-size: 5rem;
  color: $textColour;
  font-family: $textFont;
}

.hackSelectionButton {
  margin: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60%;
  z-index: 2;
  border-bottom: 2px solid $linkColour;

  background: -moz-linear-gradient(top,  rgba(33,31,31,0) 0%, rgba(33,31,31,1) 77%, rgba(33,31,31,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(33,31,31,0) 0%,rgba(33,31,31,1) 77%,rgba(33,31,31,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(33,31,31,0) 0%,rgba(33,31,31,1) 77%,rgba(33,31,31,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00211f1f', endColorstr='#211f1f',GradientType=0 ); /* IE6-9 */

/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.hackArrow {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 55% auto; 
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border-right: 4px solid $linkColour;
  border-bottom: 4px solid $linkColour;
}

.hackButtonText {
  text-align: center;
  bottom: -75%;
  line-height: 10%;
  position: relative;
  font-size: 5rem;
  color: $linkColour;
  font-family: $linkFont;
}
