/************************************************************************************
Instructions
************************************************************************************/

.insframe {
  width: 100%;
  height: 0;
  position: relative;
  top: 15%;
  left: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  overflow-y: scroll;
  background: $bgColour;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/

  p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 12%;
    position: relative;
    font-size: 5rem;
    color: $textColour;
    float: right;
    font-family: $textFont;
  }
}

.follow {
  width: 100%;
  height: 10%;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  background: $bgColour;

  h1 {
    margin: auto;
    line-height: 10%;
    top: 50%;
    text-align: center;
    position: relative;
    font-size: 5rem;
    color: $linkColour;
    font-family: $linkFont;
  }
}

.close {
  right: 100%;
  top: 10%;
  width: 25%;
  height: 10%;
  position: fixed;
  background: $bgColour;
  opacity: 1;
  z-index: 9;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}

.offset4 {
  overflow: initial;
}