/************************************************************************************
Post a hack
************************************************************************************/

.newHackFrame {
  margin: 0;
  bottom: 100%; 
  right: 0;
  position: fixed;
  width: 250px;
  height: 250px;
  background: $bgColour;
  z-index: -1;
  overflow: hidden;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */

  h1 {
    margin-left: 10%;
    margin-top: 12%;
    position: relative;
    font-size: 8rem;
    color: $textColour;
    font-family: $textFont;
  }

  * {
    opacity: 0;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;*/
  }
}

.offset7 { 
  z-index: 2;
  overflow: hidden;
  bottom: 5%;
}

.offset6 {
  opacity: 1;
/*  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;*/
}

#recipeCreator {
  margin: 20% 10%;
  position: relative;
  width: 80%;

  input {
    width: 96.5%;
    height: 15%;
    margin: 3% 0 3% 0;
    padding: .5em;
    outline: none;
    font-size: 2rem;
    font-family: $textFont;
  }

  textarea {
    width: 96.5%;
    margin: 3% 0 3% 0;
    padding: .5em;
    outline: none;
    font-size: 2rem;
    font-family: $textFont;
  }

  label {
    font-size: 2.3rem;
    font-family: $linkFont;
    color: $linkColour;
  }

  input[type=submit] {
    font-size: 1.5rem;
    font-family: $linkFont;
    color: $linkColour;
    background: $bgColour;
    border-bottom: 2px solid $linkColour;
    border-top: 2px solid $linkColour;
    width: 100%;
  }
}

.newHackClose {
  right: 0;
  top: 0;
  width: 25%;
  height: 10%;
  position: absolute;
  background: blue;
}

.offset5 {
  bottom: 0;
  top: 10%;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}