/************************************************************************************
Post a hack
************************************************************************************/
.newHackFrame {
  margin: 0;
  bottom: 100%;
  right: 0;
  position: fixed;
  width: 250px;
  height: 250px;
  background: #191919;
  z-index: -1;
  overflow: hidden;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }
  .newHackFrame h1 {
    margin-top: 12%;
    position: relative;
    font-size: 8rem;
    color: #e5e5e5;
    font-family: "Open Sans", sans-serif; }
  .newHackFrame * {
    opacity: 0;
    /*  -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;*/ }

.hackInsTitle {
  margin-left: 10%;
}

.offset7 {
  z-index: 2;
  overflow: hidden;
  bottom: 5%; }

.offset6 {
  opacity: 1;
  /*  -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;*/ }

#recipeCreator {
  margin: 20% 10%;
  position: relative;
  width: 80%; }
  #recipeCreator input {
    width: 96.5%;
    height: 15%;
    margin: 3% 0 3% 0;
    padding: .5em;
    outline: none;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    color: #fcce00; }
  #recipeCreator textarea {
    width: 96.5%;
    margin: 3% 0 3% 0;
    padding: .5em;
    outline: none;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif; }
  #recipeCreator label {
    font-size: 2.3rem;
    font-family: "Merriweather", serif;
    color: #fcce00; }
  #recipeCreator input[type=submit] {
    font-size: 1.5rem;
    font-family: "Merriweather", serif;
    color: #fcce00;
    background: #191919;
    border-bottom: 2px solid #fcce00;
    border-top: 2px solid #fcce00;
    width: 100%;
    -webkit-appearance: none; }

.newHackClose {
  right: 0;
  top: 0;
  width: 25%;
  height: 10%;
  position: absolute;
  background: #191919; }

.offset5 {
  bottom: 0;
  top: 10%;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;*/ }

.ingTitle {
    margin: 10%;
    position: relative;
    font-size: 2.3rem;
    color: #fcce00;
    font-family: "Merriweather", serif;
    top: -20%; }