.menuBarYourHacks {
  width: 33.3%;
  height: 10%;
  top: 0;
  left: 0;
  position: fixed;
  background: $bgColour;
  margin: 0;
  z-index: 2;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.menuBarYourHacksText {
  text-align: center;
  vertical-align: middle;
  line-height: 10%;
  position: absolute;
  font-size: 5rem;
  color: $linkColour;
  font-family: $linkFont;
}

.yourHacksPage {
  display: none;
  position: relative;
  top: 0; 
  left: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  float: left;
}

.followedHacks {
  display: none;
  position: relative;
  top: 0; 
  left: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  float: left;
}

.yourHacksYourHacks {
  position: relative;
  margin: 20% 10%;
  width: 80%;
  height: 5%;
  background: green;
}

.yourHacksFollowedHacks {
  position: relative;
  margin: 20% 10%;
  width: 80%;
  height: 5%;
  background: green;
}

.yourHacksCreateHacks {
  position: relative;
  margin: 20% 10%;
  width: 80%;
  height: 5%;
  background: green;
}

.yourHacksMade {
  display: none;
  position: relative;
  top: 0; 
  left: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  float: left;
}

.yourHacksButtons {
  position: relative;
  top: 0; 
  left: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  float: left;
}

.hackSelectionFrameYourHacks {
  position: relative;
  top: 100%; 
  left: 0; 
  padding: 0;
  width: 100%;
  height: 85%;
  overflow: hidden;
  overflow-y: hidden;
  float: left;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.hackSelectionFrameFollowedHacks {
  position: relative;
  top: 100%; 
  left: 0; 
  padding: 0;
  width: 100%;
  height: 85%;
  overflow: hidden;
  overflow-y: hidden;
  float: left;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.infoWrapperYourHacks {
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: $overlayColour;
  opacity: .4;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.infoWrapperFollowedHacks {
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: $overlayColour;
  opacity: .4;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.hackSelectionButtonYourHacks {
  margin: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60%;

  background: -moz-linear-gradient(top,  rgba(33,31,31,0) 0%, rgba(33,31,31,1) 77%, rgba(33,31,31,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(33,31,31,0) 0%,rgba(33,31,31,1) 77%,rgba(33,31,31,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(33,31,31,0) 0%,rgba(33,31,31,1) 77%,rgba(33,31,31,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00211f1f', endColorstr='#211f1f',GradientType=0 ); /* IE6-9 */

/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.hackSelectionButtonFollowedHacks {
  margin: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60%;

  background: -moz-linear-gradient(top,  rgba(33,31,31,0) 0%, rgba(33,31,31,1) 77%, rgba(33,31,31,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(33,31,31,0) 0%,rgba(33,31,31,1) 77%,rgba(33,31,31,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(33,31,31,0) 0%,rgba(33,31,31,1) 77%,rgba(33,31,31,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00211f1f', endColorstr='#211f1f',GradientType=0 ); /* IE6-9 */

/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.insframeYourHacks {
  width: 100%;
  height: 0;
  position: relative;
  top: 15%;
  left: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  overflow-y: scroll;
  background: $bgColour;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}

.insframeFollowedHacks {
  width: 100%;
  height: 0;
  position: relative;
  top: 15%;
  left: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  overflow-y: scroll;
  background: $bgColour;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}

.closeYourHacks {
  right: 100%;
  top: 10%;
  width: 25%;
  height: 10%;
  position: fixed;
  background: $bgColour;
  opacity: 1;
  z-index: 9;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}


.closeFollowedHacks {
  right: 100%;
  top: 10%;
  width: 25%;
  height: 10%;
  position: fixed;
  background: $bgColour;
  opacity: 1;
  z-index: 9;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}