.menuBarYourHacks {
  width: 33.3%;
  height: 10%;
  top: 0;
  left: 0;
  position: fixed;
  background: #191919;
  margin: 0;
  z-index: 2;
  border-bottom: 2px solid #fcce00;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.menuBarYourHacksText {
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-size: 5rem;
  color: #fcce00;
  font-family: "Merriweather", serif; }

.yourHacksPage {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  float: left; }

.followedHacks {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 90%;
  overflow: auto;
  float: left; }

.yourHacksYourHacks {
  position: relative;
  margin: 20% 10% 0;
  width: 80%;
  height: 20%;
  background: #191919;
  border-bottom: 2px solid #fcce00;
  border-top: 2px solid #fcce00; }

.yourHacksYourHacksText {
  text-align: center;
  vertical-align: middle;
  top: 50px;
  position: relative;
  font-size: 4rem;
  color: #fcce00;
  font-family: "Merriweather", serif; }

.yourHacksFollowedHacks {
  position: relative;
  margin: 5% 10% 0;
  width: 80%;
  height: 20%;
  background: #191919;
  border-bottom: 2px solid #fcce00;
  border-top: 2px solid #fcce00; }

.yourHacksFollowedHacksText {
  text-align: center;
  vertical-align: middle;
  top: 50px;
  position: relative;
  font-size: 4rem;
  color: #fcce00;
  font-family: "Merriweather", serif; }

.yourHacksCreateHacks {
  position: relative;
  margin: 5% 10% 0;
  width: 80%;
  height: 20%;
  background: #191919;
  border-bottom: 2px solid #fcce00;
  border-top: 2px solid #fcce00; }

.yourHacksCreateHacksText {
  text-align: center;
  vertical-align: middle;
  top: 50px;
  position: relative;
  font-size: 4rem;
  color: #fcce00;
  font-family: "Merriweather", serif; }

.yourHacksMade {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 90%;
  overflow: auto;
  float: left; }

.yourHacksButtons {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  float: left; }

.hackSelectionFrameYourHacks {
  position: relative;
  top: 11%;
  left: 0;
  padding: 0;
  width: 100%;
  height: 85%;
  overflow: hidden;
  overflow-y: hidden;
  float: left;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.hackSelectionFrameFollowedHacks {
  position: relative;
  top: 11%;
  left: 0;
  padding: 0;
  width: 100%;
  height: 85%;
  overflow: hidden;
  overflow-y: hidden;
  float: left;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.infoWrapperYourHacks {
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181b30;
  opacity: .4;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.infoWrapperFollowedHacks {
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181b30;
  opacity: .4;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.hackSelectionButtonYourHacks {
  margin: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60%;
  background: -moz-linear-gradient(top, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00211f1f', endColorstr='#211f1f',GradientType=0 );
  /* IE6-9 */
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.hackSelectionButtonFollowedHacks {
  margin: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60%;
  background: -moz-linear-gradient(top, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00211f1f', endColorstr='#211f1f',GradientType=0 );
  /* IE6-9 */
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.insframeYourHacks {
  width: 100%;
  height: 0;
  position: relative;
  top: 15%;
  left: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  overflow-y: scroll;
  background: #191919;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;*/ }

.insframeFollowedHacks {
  width: 100%;
  height: 0;
  position: relative;
  top: 15%;
  left: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  overflow-y: scroll;
  background: #191919;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;*/ }

.closeYourHacks {
  right: 100%;
  top: 10%;
  width: 25%;
  height: 10%;
  position: fixed;
  background: #191919;
  opacity: 1;
  z-index: 9;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;*/ }

.closeFollowedHacks {
  right: 100%;
  top: 10%;
  width: 25%;
  height: 10%;
  position: fixed;
  background: #191919;
  opacity: 1;
  z-index: 9;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;*/ }

.hacksLogIn {
  display: none;
  overflow-y: scroll;
  position: fixed;
  margin: 20% 0;
  width: 100%;
  height: 90%; }
  .hacksLogIn .intro {
    margin: 3% 10%;
    position: relative;
    font-size: 5rem;
    color: #e5e5e5;
    font-family: "Open Sans", sans-serif;
    text-align: justify; }
