@import 'utilities';

/************************************************************************************
Navigation Bar
************************************************************************************/

.navbutton {
  width: 100%;
  height: 10%;
  top: 90%;
  left: 0;
  position: fixed;
  background: $bgColour;
  margin: 0;
  z-index: 2;
  border-bottom: 2px solid $linkColour;
  border-top: 8px solid $linkColour;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.navText {
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-size: 5rem;
  color: $linkColour;
  font-family: $linkFont;
}

.offset3 {
  top: 0; 
}

.menuBarProfile {
  width: 33.4%;
  height: 10%;
  top: 0;
  left: 33.3%;
  position: fixed;
  background: $bgColour;
  margin: 0;
  z-index: 2;
  border-bottom: 8px solid $linkColour;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.menuBarProfileText {
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-size: 5rem;
  color: $linkColour;
  font-family: $linkFont;
}

.offset {
  top: -100%; 
}

nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background: $bgColour;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

#login {
  margin: 20% 10%;
  position: relative;
  width: 80%;

  input {
    width: 100%;
    height: 15%;
    margin: 3% 0 3% 0;
    padding: .5em;
    border: 0.2em solid black;
    outline: none;
    font-size: 2rem;
  }

  label {
    font-size: 2.3rem;
  }

  input[type=submit] {
    font-size: 1.5rem;
  }
}

#logout {
  margin: 20% 10%;
  position: relative;
  width: 80%;

  input {
    width: 100%;
    height: 15%;
    margin: 3% 0 3% 0;
    padding: .5em;
    border: 0.2em solid black;
    outline: none;
    font-size: 2rem;
  }

  label {
    font-size: 2.3rem;
  }

  input[type=submit] {
    font-size: 1.5rem;
  }
}

#register {
  margin: 20% 10%;
  position: relative;
  width: 80%;

   input {
    width: 100%;
    height: 15%;
    margin: 3% 0 3% 0;
    padding: .5em;
    border: 0.2em solid black;
    outline: none;
    font-size: 2rem;
  }

  label {
    font-size: 2.3rem;
  }

  input[type=submit] {
    font-size: 1.5rem;
  }
}

.registerPage {
  overflow-y: scroll;
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.startRegistration {
  position: absolute;
  margin: 20% 10%;
  width: 80%;
  height: 5%;
  background: green;
}

.rangeOneUpper {
  display: none;
}

.rangeTwoUpper {
  display: none;
}

.rangeThreeUpper {
  display: none;
}

.rangeOnelower {
  display: none;
}

.rangeTwolower {
  display: none;
}

.rangeThreelower {
  display: none;
}

.nextThreeQuestions {
  display: none;
}

.abilityRegister {
  display: none;
}