html, body, div {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0; 
}

/************************************************************************************
Navigation Bar
************************************************************************************/

.navbutton {
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  position: fixed;
  background: black;
  margin: 0;
  z-index: 2;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.menuBar {
  width: 100%;
  height: 10%;
  top: -100%;
  left: 0;
  position: fixed;
  background: black;
  margin: 0;
  z-index: 2;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.offset {
  top: 0; 
}

.offset3 {
  top: 90%; 
}

nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background: white;
  margin: 0;
  top: -100%;
  left: 0;
  z-index: 1;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

/************************************************************************************
Hack selection
************************************************************************************/

.hackSelectionFrame {
  position: relative;
  top: 10%; 
  left: 0; 
  padding: 0;
  width: 100%;
  height: 85%;
  overflow: hidden;
  overflow-y: hidden;
  float: left;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.hackHeroImage {
  width: auto;
  height: 100%;
  top: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.infoWrapper {
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 70%;
  height: 100%;
  background: white;
  opacity: .4;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.hackTitle {
  margin-left: 10%;
  margin-top: 12%;
  position: relative;
  font-size: 8em;
  color: black;
}

.hackShortDesc {
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 12%;
  position: relative;
  font-size: 5em;
  color: black;
}

.hackTags {
  margin-left: 10%;
  position: relative;
  float: left;
  font-size: 3em;
  color: black;
}

.hackSupplies {
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 12%;
  position: relative;
  font-size: 5em;
  color: black;
}

.stepNumber {
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 12%;
  position: relative;
  font-size: 5em;
  color: black;
}

.hackInstructions {
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 12%;
  position: relative;
  font-size: 5em;
  color: black;
}

.hackSelectionButton {
  margin: 0;
  top: 10%;
  left: 10%;
  position: relative;
  width: 40%;
  height: 10%;
  background: white;
  border: 1pt solid black;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.hackButtonText {
  margin: auto;
  line-height: 10%;
  top: 50%;
  text-align: center;
  position: relative;
  font-size: 5em;
  color: black;
}

/************************************************************************************
Post a hack
************************************************************************************/


.newHackFrame {
  margin: 0;
  bottom: 5%;
  right: 10%;
  position: fixed;
  width: 250px;
  height: 250px;
  background: white;
  z-index: 2;
  border-radius: 100%;
  overflow: hidden;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}

.newHackFrame h1 {
  margin-left: 10%;
  margin-top: 12%;
  position: relative;
  font-size: 8em;
  color: black;
}

.newHackFrame * {
  opacity: 0;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}

.offset6 {
  opacity: 1;
/*  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;*/
}

/*input, textarea, label {
  float: left;
  margin-left: 10%;
  margin-top: 12%;
  background: transparent;
  font-size: 3em;
  border: none;
  border-bottom: solid;
  border-color: black;
  outline: none; 
}
input:nth-child(2n+1), textarea:nth-child(2n+1), label:nth-child(2n+1) {
  clear: left; 
}*/

.newHackClose {
  right: 0;
  top: 0;
  width: 25%;
  height: 10%;
  position: absolute;
  background: blue;
}

.offset5 {
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}


/************************************************************************************
Instructions
************************************************************************************/

#instructions {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100%;
  left: 0;
  margin: 0;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}

.insframe {
  width: 100%;
  height: 0;
  position: relative;
  top: 10%;
  left: 0;
  margin: 0;
  opacity: 0;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}

.insframe p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 12%;
  position: relative;
  font-size: 5em;
  color: black;
}

.close {
  right: 100%;
  top: 10%;
  width: 25%;
  height: 10%;
  position: fixed;
  background: black;
  opacity: 1;
  z-index: 9;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}

.offset2 {
  top: 100%; 
  z-index: -1;
  overflow: hidden;
}

.offset4 {
  overflow: hidden;
}