@import 'utilities';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0; 
  font-size: 12px;
}

body {
  overflow: hidden;
}

@import 'profile_login';
@import 'settings';
@import 'owned_followed';
@import 'content_page';
@import 'create';
@import 'content_page_extended';