html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0; 
  font-size: 10px;
}

body {
  overflow: hidden;
}

/************************************************************************************
Navigation Bar
************************************************************************************/

.navbutton {
  width: 100%;
  height: 10%;
  top: 90%;
  left: 0;
  position: fixed;
  background: black;
  margin: 0;
  z-index: 2;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.offset3 {
  top: 0; 
}

.menuBarYourHacks {
  width: 33.3%;
  height: 10%;
  top: 0;
  left: 0;
  position: fixed;
  background: yellow;
  margin: 0;
  z-index: 2;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.menuBarYourHacksText {
  text-align: center;
  vertical-align: middle;
  line-height: 10%;
  position: absolute;
  font-size: 5rem;
  color: black;
}

.menuBarProfile {
  width: 33.4%;
  height: 10%;
  top: 0;
  left: 33.3%;
  position: fixed;
  background: blue;
  margin: 0;
  z-index: 2;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.menuBarProfileText {
  text-align: center;
  vertical-align: middle;
  line-height: 10%;
  position: absolute;
  font-size: 5rem;
  color: black;
}

.menuBarSettings {
  width: 33.3%;
  height: 10%;
  top: 0;
  left: 66.6%;
  position: fixed;
  background: red;
  margin: 0;
  z-index: 2;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.menuBarSettingsText {
  text-align: center;
  vertical-align: middle;
  line-height: 10%;
  position: absolute;
  font-size: 5rem;
  color: black;
}

.offset {
  top: -100%; 
}

nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background: white;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

#login {
  margin: 20% 10%;
  position: relative;
  width: 80%;
}

#login input {
  width: 100%;
  height: 15%;
  margin: 3% 0 3% 0;
  padding: .5em;
  border: 0.2em solid black;
  outline: none;
  font-size: 2rem;
}

#login label {
font-size: 2.3rem;
}

#login input[type=submit] {
  font-size: 1.5rem;
}

#logout {
  margin: 20% 10%;
  position: relative;
  width: 80%;
}

#logout input {
  width: 100%;
  height: 15%;
  margin: 3% 0 3% 0;
  padding: .5em;
  border: 0.2em solid black;
  outline: none;
  font-size: 2rem;
}

#logout label {
font-size: 2.3rem;
}

#logout input[type=submit] {
  font-size: 1.5rem;
}

#register {
  margin: 20% 10%;
  position: relative;
  width: 80%;
}

#register input {
  width: 100%;
  height: 15%;
  margin: 3% 0 3% 0;
  padding: .5em;
  border: 0.2em solid black;
  outline: none;
  font-size: 2rem;
}

#register label {
font-size: 2.3rem;
}

#register input[type=submit] {
  font-size: 1.5rem;
}

.registerPage {
  overflow-y: scroll;
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.startRegistration {
  position: absolute;
  margin: 20% 10%;
  width: 80%;
  height: 5%;
  background: green;
}

.yourHacksPage {
  display: none;
  position: relative;
  top: 0; 
  left: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  float: left;
}

.yourHacksYourHacks {
  position: relative;
  margin: 20% 10%;
  width: 80%;
  height: 5%;
  background: green;
}

.yourHacksFollowedHacks {
  position: relative;
  margin: 20% 10%;
  width: 80%;
  height: 5%;
  background: green;
}

.yourHacksCreateHacks {
  position: relative;
  margin: 20% 10%;
  width: 80%;
  height: 5%;
  background: green;
}

.yourHacksMade {
  display: none;
  position: relative;
  top: 0; 
  left: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  float: left;
}

.yourHacksButtons {
  position: relative;
  top: 0; 
  left: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  float: left;
}

.yourSettingsPage {
  display: none;
  position: relative;
  top: 0; 
  left: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.yourSettingsPage input {
  width: 80%;
  height: 15%;
  margin: 20% 10%;
  padding: .5em;
  outline: none;
  font-size: 2rem;
}

.yourSettingsPage label {
  position: absolute;
  margin: 20% 10%;
  padding: .5em;
  font-size: 2rem;
}

.rangeOne {
  display: none;
}

.rangeTwo {
  display: none;
}

.rangeThree {
  display: none;
}

.nextThreeQuestions {
  display: none;
}

.abilityRegister {
  display: none;
}

/************************************************************************************
Hack selection
************************************************************************************/

.hackSelectionFrame {
  position: relative;
  top: 100%; 
  left: 0; 
  padding: 0;
  width: 100%;
  height: 85%;
  overflow: hidden;
  overflow-y: hidden;
  float: left;
  z-index: -1;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.offset2 {
  top: 10%; 
  z-index: 1;
  overflow: hidden;
}

.hackHeroImage {
  width: auto;
  height: 100%;
  top: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.infoWrapper {
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 70%;
  height: 100%;
  background: white;
  opacity: .4;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.hackTitle {
  margin-left: 10%;
  margin-top: 12%;
  position: relative;
  font-size: 8rem;
  color: black;
}

.hackShortDesc {
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 12%;
  position: relative;
  font-size: 5rem;
  color: black;
}

.hackTags {
  margin-left: 10%;
  position: relative;
  float: left;
  font-size: 3rem;
  color: black;
}

.hackSupplies {
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 12%;
  position: relative;
  font-size: 5rem;
  color: black;
}

.stepNumber {
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 12%;
  position: relative;
  font-size: 5rem;
  color: black;
}

.hackInstructions {
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 12%;
  position: relative;
  font-size: 5rem;
  color: black;
}

.hackSelectionButton {
  margin: 0;
  top: 10%;
  left: 10%;
  position: relative;
  width: 40%;
  height: 10%;
  background: white;
  border: 1pt solid black;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
}

.hackButtonText {
  text-align: center;
  vertical-align: middle;
  line-height: 10%;
  position: absolute;
  font-size: 5rem;
  color: black;
}

/************************************************************************************
Post a hack
************************************************************************************/


.newHackFrame {
  margin: 0;
  bottom: 100%; 
  right: 10%;
  position: fixed;
  width: 250px;
  height: 250px;
  background: white;
  z-index: -1;
  border-radius: 100%;
  overflow: hidden;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}

.offset7 { 
  z-index: 2;
  overflow: hidden;
  bottom: 5%;
}

.newHackFrame h1 {
  margin-left: 10%;
  margin-top: 12%;
  position: relative;
  font-size: 8rem;
  color: black;
}

.newHackFrame * {
  opacity: 0;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}

.offset6 {
  opacity: 1;
/*  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;*/
}

#recipeCreator {
  margin: 20% 10%;
  position: relative;
  width: 80%;
}

#recipeCreator input {
  width: 100%;
  height: 15%;
  margin: 3% 0 3% 0;
  padding: .5em;
  border: 0.2em solid black;
  outline: none;
  font-size: 2rem;
}

#recipeCreator textarea {
  width: 100%;
  margin: 3% 0 3% 0;
  padding: .5em;
  border: 0.2em solid black;
  outline: none;
  font-size: 2rem;
}

#recipeCreator label {
font-size: 2.3rem;
}

#recipeCreator input[type=submit] {
  font-size: 1.5rem;
}

.newHackClose {
  right: 0;
  top: 0;
  width: 25%;
  height: 10%;
  position: absolute;
  background: blue;
}

.offset5 {
  bottom: 0;
  top: 10%;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}


/************************************************************************************
Instructions
************************************************************************************/

.insframe {
  width: 100%;
  height: 0;
  position: relative;
  top: 15%;
  left: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  overflow-y: scroll;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}

.insframe p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 12%;
  position: a;
  font-size: 5rem;
  color: black;
  float: right;
}

.follow {
  width: 100%;
  height: 10%;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  background: blue;
}

.follow h1 {
  margin: auto;
  line-height: 10%;
  top: 50%;
  text-align: center;
  position: relative;
  font-size: 5rem;
  color: black;
}

.close {
  right: 100%;
  top: 10%;
  width: 25%;
  height: 10%;
  position: fixed;
  background: black;
  opacity: 1;
  z-index: 9;
/*  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}


.offset4 {
  overflow: initial;
}