html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px; }

body {
  overflow: hidden; }

/************************************************************************************
Navigation Bar
************************************************************************************/
.navbutton {
  width: 100%;
  height: 10%;
  top: 90%;
  left: 0;
  position: fixed;
  background: #211F1F;
  margin: 0;
  z-index: 2;
  border-bottom: 2px solid #E16C5B;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.navText {
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-size: 5rem;
  color: #E16C5B;
  font-family: "Merriweather", serif; }

.offset3 {
  top: 0; }

.menuBarProfile {
  width: 33.4%;
  height: 10%;
  top: 0;
  left: 33.3%;
  position: fixed;
  background: #211F1F;
  margin: 0;
  z-index: 2;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.menuBarProfileText {
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-size: 5rem;
  color: #E16C5B;
  font-family: "Merriweather", serif; }

.offset {
  top: -100%; }

nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #211F1F;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

#login {
  margin: 20% 10%;
  position: relative;
  width: 80%; }
  #login input {
    width: 100%;
    height: 15%;
    margin: 3% 0 3% 0;
    padding: .5em;
    border: 0.2em solid black;
    outline: none;
    font-size: 2rem; }
  #login label {
    font-size: 2.3rem; }
  #login input[type=submit] {
    font-size: 1.5rem; }

#logout {
  margin: 20% 10%;
  position: relative;
  width: 80%; }
  #logout input {
    width: 100%;
    height: 15%;
    margin: 3% 0 3% 0;
    padding: .5em;
    border: 0.2em solid black;
    outline: none;
    font-size: 2rem; }
  #logout label {
    font-size: 2.3rem; }
  #logout input[type=submit] {
    font-size: 1.5rem; }

#register {
  margin: 20% 10%;
  position: relative;
  width: 80%; }
  #register input {
    width: 100%;
    height: 15%;
    margin: 3% 0 3% 0;
    padding: .5em;
    border: 0.2em solid black;
    outline: none;
    font-size: 2rem; }
  #register label {
    font-size: 2.3rem; }
  #register input[type=submit] {
    font-size: 1.5rem; }

.registerPage {
  overflow-y: scroll;
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  display: none; }

.startRegistration {
  position: absolute;
  margin: 20% 10%;
  width: 80%;
  height: 5%;
  background: green; }

.rangeOneUpper {
  display: none; }

.rangeTwoUpper {
  display: none; }

.rangeThreeUpper {
  display: none; }

.rangeOnelower {
  display: none; }

.rangeTwolower {
  display: none; }

.rangeThreelower {
  display: none; }

.nextThreeQuestions {
  display: none; }

.abilityRegister {
  display: none; }

.menuBarSettings {
  width: 33.3%;
  height: 10%;
  top: 0;
  left: 66.6%;
  position: fixed;
  background: #211F1F;
  margin: 0;
  z-index: 2;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.menuBarSettingsText {
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-size: 5rem;
  color: #E16C5B;
  font-family: "Merriweather", serif; }

.yourSettingsPage {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }
  .yourSettingsPage input {
    width: 80%;
    height: 15%;
    margin: 20% 10%;
    padding: .5em;
    outline: none;
    font-size: 2rem; }
  .yourSettingsPage label {
    position: absolute;
    margin: 20% 10%;
    padding: .5em;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif; }

.menuBarYourHacks {
  width: 33.3%;
  height: 10%;
  top: 0;
  left: 0;
  position: fixed;
  background: #211F1F;
  margin: 0;
  z-index: 2;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.menuBarYourHacksText {
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-size: 5rem;
  color: #E16C5B;
  font-family: "Merriweather", serif; }

.yourHacksPage {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  float: left; }

.followedHacks {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  float: left; }

.yourHacksYourHacks {
  position: relative;
  margin: 20% 10%;
  width: 80%;
  height: 5%;
  background: green; }

.yourHacksFollowedHacks {
  position: relative;
  margin: 20% 10%;
  width: 80%;
  height: 5%;
  background: green; }

.yourHacksCreateHacks {
  position: relative;
  margin: 20% 10%;
  width: 80%;
  height: 5%;
  background: green; }

.yourHacksMade {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  float: left; }

.yourHacksButtons {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  float: left; }

.hackSelectionFrameYourHacks {
  position: relative;
  top: 100%;
  left: 0;
  padding: 0;
  width: 100%;
  height: 85%;
  overflow: hidden;
  overflow-y: hidden;
  float: left;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.hackSelectionFrameFollowedHacks {
  position: relative;
  top: 100%;
  left: 0;
  padding: 0;
  width: 100%;
  height: 85%;
  overflow: hidden;
  overflow-y: hidden;
  float: left;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.infoWrapperYourHacks {
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0E1537;
  opacity: .4;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.infoWrapperFollowedHacks {
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0E1537;
  opacity: .4;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.hackSelectionButtonYourHacks {
  margin: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60%;
  background: -moz-linear-gradient(top, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00211f1f', endColorstr='#211f1f',GradientType=0 );
  /* IE6-9 */
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.hackSelectionButtonFollowedHacks {
  margin: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60%;
  background: -moz-linear-gradient(top, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00211f1f', endColorstr='#211f1f',GradientType=0 );
  /* IE6-9 */
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.insframeYourHacks {
  width: 100%;
  height: 0;
  position: relative;
  top: 15%;
  left: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  overflow-y: scroll;
  background: #211F1F;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;*/ }

.insframeFollowedHacks {
  width: 100%;
  height: 0;
  position: relative;
  top: 15%;
  left: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  overflow-y: scroll;
  background: #211F1F;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;*/ }

.closeYourHacks {
  right: 100%;
  top: 10%;
  width: 25%;
  height: 10%;
  position: fixed;
  background: #211F1F;
  opacity: 1;
  z-index: 9;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;*/ }

.closeFollowedHacks {
  right: 100%;
  top: 10%;
  width: 25%;
  height: 10%;
  position: fixed;
  background: #211F1F;
  opacity: 1;
  z-index: 9;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;*/ }

/************************************************************************************
Hack selection
************************************************************************************/
.hackSelectionFrame {
  position: relative;
  top: 100%;
  left: 0;
  padding: 0;
  width: 100%;
  height: 85%;
  overflow: hidden;
  overflow-y: hidden;
  float: left;
  z-index: -1;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.offset2 {
  top: 10%;
  z-index: 1;
  overflow: hidden; }

.hackHeroImage {
  width: 100%;
  height: auto;
  top: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.infoWrapper {
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0E1537;
  opacity: .4;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.hackTitle {
  text-align: center;
  margin: 8% 0 3%;
  position: relative;
  font-size: 12rem;
  color: #FFF8EE;
  font-family: "Open Sans", sans-serif; }

.hackUnderline {
  width: 65%;
  height: 3px;
  position: relative;
  margin: 0 auto;
  background: -moz-linear-gradient(left, rgba(225, 108, 91, 0) 0%, #e16c5b 19%, #e16c5b 50%, #e16c5b 81%, rgba(225, 108, 91, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(225, 108, 91, 0) 0%, #e16c5b 19%, #e16c5b 50%, #e16c5b 81%, rgba(225, 108, 91, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(225, 108, 91, 0) 0%, #e16c5b 19%, #e16c5b 50%, #e16c5b 81%, rgba(225, 108, 91, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e16c5b', endColorstr='#00e16c5b',GradientType=1 );
  /* IE6-9 */ }

.hackShortDesc {
  text-align: center;
  margin-top: 5%;
  position: relative;
  font-size: 5rem;
  color: #FFF8EE;
  font-family: "Open Sans", sans-serif; }

.hackTags {
  margin-left: 10%;
  position: relative;
  float: left;
  font-size: 3rem;
  color: black; }

.hackSupplies {
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 12%;
  position: relative;
  font-size: 5rem;
  color: #FFF8EE;
  font-family: "Open Sans", sans-serif; }

.stepNumber {
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 12%;
  position: relative;
  font-size: 5rem;
  color: #FFF8EE;
  font-family: "Open Sans", sans-serif; }

.hackInstructions {
  margin-left: 10%;
  margin-right: 30%;
  margin-top: 12%;
  position: relative;
  font-size: 5rem;
  color: #FFF8EE;
  font-family: "Open Sans", sans-serif; }

.hackSelectionButton {
  margin: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60%;
  z-index: 2;
  border-bottom: 2px solid #E16C5B;
  background: -moz-linear-gradient(top, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(33, 31, 31, 0) 0%, #211f1f 77%, #211f1f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00211f1f', endColorstr='#211f1f',GradientType=0 );
  /* IE6-9 */
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }

.hackArrow {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 55% auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border-right: 4px solid #E16C5B;
  border-bottom: 4px solid #E16C5B; }

.hackButtonText {
  text-align: center;
  bottom: -75%;
  line-height: 10%;
  position: relative;
  font-size: 5rem;
  color: #E16C5B;
  font-family: "Merriweather", serif; }

/************************************************************************************
Post a hack
************************************************************************************/
.newHackFrame {
  margin: 0;
  bottom: 100%;
  right: 10%;
  position: fixed;
  width: 250px;
  height: 250px;
  background: #211F1F;
  z-index: -1;
  border-radius: 100%;
  overflow: hidden;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; */ }
  .newHackFrame h1 {
    margin-left: 10%;
    margin-top: 12%;
    position: relative;
    font-size: 8rem;
    color: #FFF8EE;
    font-family: "Open Sans", sans-serif; }
  .newHackFrame * {
    opacity: 0;
    /*  -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;*/ }

.offset7 {
  z-index: 2;
  overflow: hidden;
  bottom: 5%; }

.offset6 {
  opacity: 1;
  /*  -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;*/ }

#recipeCreator {
  margin: 20% 10%;
  position: relative;
  width: 80%; }
  #recipeCreator input {
    width: 100%;
    height: 15%;
    margin: 3% 0 3% 0;
    padding: .5em;
    border: 0.2em solid black;
    outline: none;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif; }
  #recipeCreator textarea {
    width: 100%;
    margin: 3% 0 3% 0;
    padding: .5em;
    border: 0.2em solid black;
    outline: none;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif; }
  #recipeCreator label {
    font-size: 2.3rem;
    font-family: "Open Sans", sans-serif; }
  #recipeCreator input[type=submit] {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif; }

.newHackClose {
  right: 0;
  top: 0;
  width: 25%;
  height: 10%;
  position: absolute;
  background: blue; }

.offset5 {
  bottom: 0;
  top: 10%;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;*/ }

/************************************************************************************
Instructions
************************************************************************************/
.insframe {
  width: 100%;
  height: 0;
  position: relative;
  top: 15%;
  left: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  overflow-y: scroll;
  background: #211F1F;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;*/ }
  .insframe p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 12%;
    position: a;
    font-size: 5rem;
    color: #FFF8EE;
    float: right;
    font-family: "Open Sans", sans-serif; }

.follow {
  width: 100%;
  height: 10%;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  background: #211F1F; }
  .follow h1 {
    margin: auto;
    line-height: 10%;
    top: 50%;
    text-align: center;
    position: relative;
    font-size: 5rem;
    color: #E16C5B;
    font-family: "Merriweather", serif; }

.close {
  right: 100%;
  top: 10%;
  width: 25%;
  height: 10%;
  position: fixed;
  background: #211F1F;
  opacity: 1;
  z-index: 9;
  /*  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;*/ }

.offset4 {
  overflow: initial; }

/*# sourceMappingURL=thesis.css.map */
